.pink {
  background-color: #E74987;
}

.pink2 {
  background-color: #D1447A;
}

.pink3 {
  background-color: #c1507b;
}

.country:nth-child(4n+1), .country:nth-child(4n) {
  background-color: #E74987;
}

.country:nth-child(4n+2), .country:nth-child(4n+3) {
  background-color: #D1447A;;
}
